<!-- Username, Reset Button -->

<!-- <label>Username</label>
<input type="text" 
class="form-control"
[(ngModel)]="username">

<h3> {{ username }} </h3>

<button class="btn btn-primary"
[disabled]="username === ''"
(click)= "username = ''"
>Reset Username
</button> -->


<!-- Display Button for Logs-->
<div class="contairner">
    <div class="row">
        <div class="col-xs-12">
            <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret"> Display Details </button> -->
            <button class="btn btn-primary" (click)="onToggleDetails()"> Display Details </button>
            <p *ngIf="showSecret"> Secret Password = tuna</p>
            <!-- Podemos fazer isto com o logItem, mas tbm com o index, a diferença é que o index começa a 0
            já o logItem começa onde nós quisermos, que foi em 1! -->
            <div 
                *ngFor="let logItem of log; let i = index"
                [ngStyle]="{'backgroundColor': i > 4 ? 'blue' : 'tranparent'}"
                [ngClass]="{'white-text': i > 4}"
            > {{ logItem }} </div>
        </div>
    </div>
</div>
